.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper > div {
  outline: 5px dashed #ddd;
  overflow: hidden;
}
.img-responsive {
  cursor: pointer;
  transition: all 5s linear;

  /* transform-origin: center center;
  transform-origin: 100px 50px; */
}


.img-responsive:hover {
  /* transform: translateY(150px) translateX(150px); */
  /* transform: scale(1.2); */
  /* transform: scale(1, 1.5); */
  /* transform: scaleX(1.5); */
  /* transform: scaleY(0.5); */
  /* transform: translate(-150px, 150px); */
  /* transform: translateX(150px);
     transform: translateY(150px); */
  /* transform: rotate(720deg);
  transform: skew(0deg, 90deg);
  transform: translate(150px, 150px) rotate(45deg);  */
}