@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

a {
    text-decoration: none;
    color: white;
}














caption {
    text-transform: uppercase;
    text-align: right;
}

table,
th,
tr,
td {
    border-collapse: collapse;
    border: 1px solid rgb(187, 168, 168);
}
table {
    background-image: url(./img/bg-table.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

th, 
td {
    padding: 10px;
}

tr:nth-child(even){
    background-color: rgba(165, 42, 42, 0.473);
}
tr:nth-child(even):hover{
    background-color: rgba(165, 42, 42, 0.664);
    transition: background-color 0.3s linear;
    cursor: pointer;
}
tr:nth-child(odd){
    background-color: rgba(90, 79, 79, 0.616);
}
tr:nth-child(odd):hover{
    background-color: rgba(90, 79, 79, 0.781);
    transition: background-color 0.3s linear;
    cursor: pointer;
}
tr:nth-child(1){
    background-color: rgba(255, 255, 0, 0.438);
}
table tr:nth-child(3) td:nth-child(2) {
    color: red;
}