<header>header</header>

<div>

    <nav>
        <ul>
            <li>Home</li>
            <li>Jobs</li>
            <li>About Us</li>
            <li>Contact Us</li>
        </ul>
    </nav>

    <main>
        <aside>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laboriosam eius hic esse veniam. Nulla
            nemo esse alias impedit illo tempora dignissimos aspernatur iusto magni, sapiente repellat quaerat fugit
            voluptas id incidunt iure voluptatem commodi! Aut nemo itaque consequatur, error est mollitia pariatur, sunt
            reprehenderit explicabo perspiciatis nisi harum deleniti!</aside>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tempora enim harum provident
            obcaecati accusantium autem placeat. Debitis quo est inventore error vero officiis voluptate nesciunt
            consequuntur omnis pariatur voluptates, voluptatibus, distinctio nihil. Quas dignissimos quae quidem
            voluptas minus, eos aperiam est? Aperiam error explicabo soluta veritatis facilis, vel eos.</article>
    </main>


</div>

<footer>
    <ul>
        <li>Home</li>
        <li>Jobs</li>
        <li>About Us</li>
        <li>Contact Us</li>
    </ul>
</footer>