@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 40px;
    /* background-color: rgba(41, 41, 41, 0.918); */
    font-family: "Roboto", sans-serif;
    /* font-size: 1.2rem; */
    min-height: 100vh;
    width: 100%;
    /* display: grid;
    place-content: center;
    text-align: center; */
    color: aliceblue;
}


#registrationForm, #loginForm {
    /* background-color: #ccc; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin: 0px auto;
    /* margin-bottom: 50px; */
}

#registrationForm {
    display: none;
}

.form-group {
    margin-bottom: 10px;
    
}

.block__login-btn {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(50, 129, 134);
}

input[name="firstName"],
input[name="lastName"],
input[name="date"],
input[name="email"],
input[name="password"],
input[name="confirm_password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #5a71da;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

input[name="date"] {
    color: rgb(50, 129, 134);
}

input:focus {
    border: 2px solid #ccc !important;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
    outline: none;
}



button[type="submit"],
[type="button"] {
    display: block;
    background-color: rgb(38, 125, 224);
    color: #ebe2e2;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
}

button[type="submit"],
[type="button"]:hover {
    color: #fff;
}

button[type="submit"],
[type="button"]:active {
    transform: scale(0.98);
    opacity: 0.8;
}

p {
    background-color: rgb(177, 34, 34);
    border: 3px solid rgb(179, 85, 69);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgb(253, 253, 253);
    padding: 2px 4px;
    animation: zoom 2s ease-in-out infinite;
}

.item7 > p {
    background-color: rgb(94, 165, 98);
    border: none;
    color: rgb(23, 65, 40);
    width: max-content;
    animation:none;
    opacity: 1;
    padding: 4px 8px;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}