<header class="bg-black-dark">
    <nav class="container flex justify-between items-center">
        <div>
            <a href="#">
                <img src="./src/img/icon/logo.svg" alt="logo">
            </a>
        </div>
        <div>
            <ul class="font-bold flex gap-10 whitespace-nowrap">
                <li class="hover:opacity-80"><a href="#">Home</a></li>
                <li class="hover:opacity-80"><a href="#">Attorneys</a></li>
                <li class="hover:opacity-80"><a href="#">Practice Areas</a></li>
                <li class="hover:opacity-80"><a href="#">About Us</a></li>
            </ul>
        </div>
        <button class="border border-white px-9 py-3 whitespace-nowrap hover:bg-gray-dark">Contact Now</button>
    </nav>
</header>