<section class="flex">
    <div>
        <h1 class="text-6xl">You don’t have to
        Fight them Alone.</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, curabitur sodales conubia ut inceptos faucibus himenaeos
        tortor eget, hac massa gravida arcu interdum proin curae.</h2>
        <label class="bg-gray-light rounded-[43px] h-[74px] w-[438px] 
        flex justify-between items-center pr-[6px]">
            <img class="pl-3" src="./src//img/icon/email.svg" alt="email-icon">
            <input type="email" class="bg-transparent focus:outline-none">
            <button class="bg-yellow rounded-[43px] h-[62px] w-[137px] 
            text-black font-bold">Let's Talk</button>
        </label>
    </div>
    <div>
        <img src="./src/img/pictures/person.png" alt="person">
        <img src="./src/img/icon/rectangle.svg" alt="rectangle">
    </div>
</section>