@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 40px;
    background-color: rgb(41, 41, 41);
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    width: 100%;
    /* display: grid;
    place-content: center;
    text-align: center; */
    color: aliceblue;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    background-color: blueviolet;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 10px;
    color: azure;
}

button {
    background-color: blueviolet;
    border-radius: 5px;
    align-items: center;
    font-size: 18px;
    padding: 5px 10px;
    color: azure;
}

ol {
    /* list-style-type: none; */
    /* border: 2px solid red; */
    columns:4;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    width: 250px;
    background-color: rgb(63, 117, 99);
    border-radius: 8px;
    margin: 10px 10px;
    padding: 8px 16px;
}

mark {
    padding: 0 5px;
}